trunk/tms_hipos_ejb/src/conf/wsdl/co02intranet_8080/tms/tms_employee_wsService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-752-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-752-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://tms_employee_ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://tms_employee_ws/" name="tms_employee_wsService">
<types>
<xsd:schema>
<xsd:import namespace="http://tms_employee_ws/" schemaLocation="http://co02intranet:8080/tms/tms_employee_wsService?xsd=1" />
</xsd:schema>
</types>
<message name="getManager">
<part name="parameters" element="tns:getManager" />
</message>
<message name="getManagerResponse">
<part name="parameters" element="tns:getManagerResponse" />
</message>
<message name="getEmployee">
<part name="parameters" element="tns:getEmployee" />
</message>
<message name="getEmployeeResponse">
<part name="parameters" element="tns:getEmployeeResponse" />
</message>
<message name="getCollaborators">
<part name="parameters" element="tns:getCollaborators" />
</message>
<message name="getCollaboratorsResponse">
<part name="parameters" element="tns:getCollaboratorsResponse" />
</message>
<message name="getEvaluators">
<part name="parameters" element="tns:getEvaluators" />
</message>
<message name="getEvaluatorsResponse">
<part name="parameters" element="tns:getEvaluatorsResponse" />
</message>
<message name="getColeagues">
<part name="parameters" element="tns:getColeagues" />
</message>
<message name="getColeaguesResponse">
<part name="parameters" element="tns:getColeaguesResponse" />
</message>
<message name="getEvaluatorsNotSelected">
<part name="parameters" element="tns:getEvaluatorsNotSelected" />
</message>
<message name="getEvaluatorsNotSelectedResponse">
<part name="parameters" element="tns:getEvaluatorsNotSelectedResponse" />
</message>
<message name="getEvaluatorsSelected">
<part name="parameters" element="tns:getEvaluatorsSelected" />
</message>
<message name="getEvaluatorsSelectedResponse">
<part name="parameters" element="tns:getEvaluatorsSelectedResponse" />
</message>
<message name="getEmployeeData">
<part name="parameters" element="tns:getEmployeeData" />
</message>
<message name="getEmployeeDataResponse">
<part name="parameters" element="tns:getEmployeeDataResponse" />
</message>
<message name="getEmployeesAlpha">
<part name="parameters" element="tns:getEmployeesAlpha" />
</message>
<message name="getEmployeesAlphaResponse">
<part name="parameters" element="tns:getEmployeesAlphaResponse" />
</message>
<portType name="tms_employee_ws">
<operation name="getManager">
<input wsam:Action="http://tms_employee_ws/tms_employee_ws/getManagerRequest" message="tns:getManager" />
<output wsam:Action="http://tms_employee_ws/tms_employee_ws/getManagerResponse" message="tns:getManagerResponse" />
</operation>
<operation name="getEmployee">
<input wsam:Action="http://tms_employee_ws/tms_employee_ws/getEmployeeRequest" message="tns:getEmployee" />
<output wsam:Action="http://tms_employee_ws/tms_employee_ws/getEmployeeResponse" message="tns:getEmployeeResponse" />
</operation>
<operation name="getCollaborators">
<input wsam:Action="http://tms_employee_ws/tms_employee_ws/getCollaboratorsRequest" message="tns:getCollaborators" />
<output wsam:Action="http://tms_employee_ws/tms_employee_ws/getCollaboratorsResponse" message="tns:getCollaboratorsResponse" />
</operation>
<operation name="getEvaluators">
<input wsam:Action="http://tms_employee_ws/tms_employee_ws/getEvaluatorsRequest" message="tns:getEvaluators" />
<output wsam:Action="http://tms_employee_ws/tms_employee_ws/getEvaluatorsResponse" message="tns:getEvaluatorsResponse" />
</operation>
<operation name="getColeagues">
<input wsam:Action="http://tms_employee_ws/tms_employee_ws/getColeaguesRequest" message="tns:getColeagues" />
<output wsam:Action="http://tms_employee_ws/tms_employee_ws/getColeaguesResponse" message="tns:getColeaguesResponse" />
</operation>
<operation name="getEvaluatorsNotSelected">
<input wsam:Action="http://tms_employee_ws/tms_employee_ws/getEvaluatorsNotSelectedRequest" message="tns:getEvaluatorsNotSelected" />
<output wsam:Action="http://tms_employee_ws/tms_employee_ws/getEvaluatorsNotSelectedResponse" message="tns:getEvaluatorsNotSelectedResponse" />
</operation>
<operation name="getEvaluatorsSelected">
<input wsam:Action="http://tms_employee_ws/tms_employee_ws/getEvaluatorsSelectedRequest" message="tns:getEvaluatorsSelected" />
<output wsam:Action="http://tms_employee_ws/tms_employee_ws/getEvaluatorsSelectedResponse" message="tns:getEvaluatorsSelectedResponse" />
</operation>
<operation name="getEmployeeData">
<input wsam:Action="http://tms_employee_ws/tms_employee_ws/getEmployeeDataRequest" message="tns:getEmployeeData" />
<output wsam:Action="http://tms_employee_ws/tms_employee_ws/getEmployeeDataResponse" message="tns:getEmployeeDataResponse" />
</operation>
<operation name="getEmployeesAlpha">
<input wsam:Action="http://tms_employee_ws/tms_employee_ws/getEmployeesAlphaRequest" message="tns:getEmployeesAlpha" />
<output wsam:Action="http://tms_employee_ws/tms_employee_ws/getEmployeesAlphaResponse" message="tns:getEmployeesAlphaResponse" />
</operation>
</portType>
<binding name="tms_employee_wsPortBinding" type="tns:tms_employee_ws">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="getManager">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getEmployee">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getCollaborators">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getEvaluators">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getColeagues">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getEvaluatorsNotSelected">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getEvaluatorsSelected">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getEmployeeData">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getEmployeesAlpha">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="tms_employee_wsService">
<port name="tms_employee_wsPort" binding="tns:tms_employee_wsPortBinding">
<soap:address location="http://co02intranet:8080/tms/tms_employee_wsService" />
</port>
</service>
</definitions>