trunk/tms_hipos_ejb/src/conf/wsdl/co02intranet_8080/tms/tms_employee_wsService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-752-. --><xs:schema xmlns:tns="http://tms_employee_ws/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://tms_employee_ws/">

<xs:element name="getColeagues" type="tns:getColeagues" />

<xs:element name="getColeaguesResponse" type="tns:getColeaguesResponse" />

<xs:element name="getCollaborators" type="tns:getCollaborators" />

<xs:element name="getCollaboratorsResponse" type="tns:getCollaboratorsResponse" />

<xs:element name="getEmployee" type="tns:getEmployee" />

<xs:element name="getEmployeeData" type="tns:getEmployeeData" />

<xs:element name="getEmployeeDataResponse" type="tns:getEmployeeDataResponse" />

<xs:element name="getEmployeeResponse" type="tns:getEmployeeResponse" />

<xs:element name="getEmployeesAlpha" type="tns:getEmployeesAlpha" />

<xs:element name="getEmployeesAlphaResponse" type="tns:getEmployeesAlphaResponse" />

<xs:element name="getEvaluators" type="tns:getEvaluators" />

<xs:element name="getEvaluatorsNotSelected" type="tns:getEvaluatorsNotSelected" />

<xs:element name="getEvaluatorsNotSelectedResponse" type="tns:getEvaluatorsNotSelectedResponse" />

<xs:element name="getEvaluatorsResponse" type="tns:getEvaluatorsResponse" />

<xs:element name="getEvaluatorsSelected" type="tns:getEvaluatorsSelected" />

<xs:element name="getEvaluatorsSelectedResponse" type="tns:getEvaluatorsSelectedResponse" />

<xs:element name="getManager" type="tns:getManager" />

<xs:element name="getManagerResponse" type="tns:getManagerResponse" />

<xs:complexType name="getEmployeeData">
<xs:sequence>
<xs:element name="userIdStr" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getEmployeeDataResponse">
<xs:sequence>
<xs:element name="return" type="tns:vwSsMaEmpleadosActivos" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="vwSsMaEmpleadosActivos">
<xs:sequence>
<xs:element name="admRrhh" type="xs:string" minOccurs="0" />
<xs:element name="alias" type="xs:string" minOccurs="0" />
<xs:element name="birthDate" type="xs:string" minOccurs="0" />
<xs:element name="bloodDonorInd" type="xs:string" minOccurs="0" />
<xs:element name="bloodTypeCode" type="xs:string" minOccurs="0" />
<xs:element name="cargo" type="xs:string" minOccurs="0" />
<xs:element name="centro" type="xs:string" minOccurs="0" />
<xs:element name="codigoEmpleado" type="xs:int" minOccurs="0" />
<xs:element name="codigoSupervisorOriginal" type="xs:string" minOccurs="0" />
<xs:element name="departamento" type="xs:string" minOccurs="0" />
<xs:element name="depositAcctNbr" type="xs:string" minOccurs="0" />
<xs:element name="empPhoto" type="xs:string" minOccurs="0" />
<xs:element name="empStatusCode" type="xs:string" minOccurs="0" />
<xs:element name="emplDesc" type="xs:string" minOccurs="0" />
<xs:element name="emplId" type="xs:string" minOccurs="0" />
<xs:element name="employmentTypeCode" type="xs:string" minOccurs="0" />
<xs:element name="firstMiddleName" type="xs:string" minOccurs="0" />
<xs:element name="firstName" type="xs:string" minOccurs="0" />
<xs:element name="height" type="xs:string" minOccurs="0" />
<xs:element name="hireDate" type="xs:string" minOccurs="0" />
<xs:element name="id" type="xs:int" minOccurs="0" />
<xs:element name="individualId" type="xs:string" minOccurs="0" />
<xs:element name="lastName" type="xs:string" minOccurs="0" />
<xs:element name="locCode" type="xs:string" minOccurs="0" />
<xs:element name="mgrEmpId" type="xs:int" minOccurs="0" />
<xs:element name="nationalId1" type="xs:string" minOccurs="0" />
<xs:element name="nombreEmpleado" type="xs:string" minOccurs="0" />
<xs:element name="payGradeCode" type="xs:string" minOccurs="0" />
<xs:element name="phone1AreaCityCode" type="xs:string" minOccurs="0" />
<xs:element name="phone1ExtensionNbr" type="xs:string" minOccurs="0" />
<xs:element name="phone1Nbr" type="xs:string" minOccurs="0" />
<xs:element name="polizaId" type="xs:string" minOccurs="0" />
<xs:element name="puesto" type="xs:string" minOccurs="0" />
<xs:element name="rutaPhoto" type="xs:string" minOccurs="0" />
<xs:element name="sexCode" type="xs:string" minOccurs="0" />
<xs:element name="unidad" type="xs:string" minOccurs="0" />
<xs:element name="weight" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getEvaluatorsSelected">
<xs:sequence>
<xs:element name="userIdStr" type="xs:string" minOccurs="0" />
<xs:element name="issueId" type="xs:int" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getEvaluatorsSelectedResponse">
<xs:sequence>
<xs:element name="return" type="tns:employeeVO" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="employeeVO">
<xs:sequence>
<xs:element name="codigoEmpleado" type="xs:string" minOccurs="0" />
<xs:element name="nombreEmpleado" type="xs:string" minOccurs="0" />
<xs:element name="cargo" type="xs:string" minOccurs="0" />
<xs:element name="dependencia" type="xs:string" minOccurs="0" />
<xs:element name="mgrEmpId" type="xs:string" minOccurs="0" />
<xs:element name="empPhoto" type="xs:string" minOccurs="0" />
<xs:element name="rutaPhoto" type="xs:string" minOccurs="0" />
<xs:element name="sentMail" type="xs:string" minOccurs="0" />
<xs:element name="status" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getEvaluatorsNotSelected">
<xs:sequence>
<xs:element name="userIdStr" type="xs:string" minOccurs="0" />
<xs:element name="issueId" type="xs:int" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getEvaluatorsNotSelectedResponse">
<xs:sequence>
<xs:element name="return" type="tns:employeeVO" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getColeagues">
<xs:sequence>
<xs:element name="userIdStr" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getColeaguesResponse">
<xs:sequence>
<xs:element name="return" type="tns:employeeVO" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getEvaluators">
<xs:sequence>
<xs:element name="userIdStr" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getEvaluatorsResponse">
<xs:sequence>
<xs:element name="return" type="tns:employeeVO" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getEmployeesAlpha">
<xs:sequence>
<xs:element name="userName" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getEmployeesAlphaResponse">
<xs:sequence>
<xs:element name="return" type="tns:employeeVO" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getEmployee">
<xs:sequence>
<xs:element name="userIdStr" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getEmployeeResponse">
<xs:sequence>
<xs:element name="return" type="tns:employeeVO" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCollaborators">
<xs:sequence>
<xs:element name="mgr_emp_id_str" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCollaboratorsResponse">
<xs:sequence>
<xs:element name="return" type="tns:employeeVO" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getManager">
<xs:sequence>
<xs:element name="userIdStr" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getManagerResponse">
<xs:sequence>
<xs:element name="return" type="tns:employeeVO" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>